/client/node_modules
/server/node_modules
/client/.pnp
.pnp.js

/client/coverage

/client/.next/
/client/out/

/client/build

/client/.DS_Store
/client/\*.pem
/server/.env
/client/.env
/server/.env.swp
/client/.env.swp

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

/client/.env\*.local

/client/.vercel

/client/\*.tsbuildinfo
/client/next-env.d.ts
