appdirs==1.4.3
attrs==19.2.0
autopep8==1.6.0
black==19.3b0
certifi==2019.9.11
charset-normalizer==3.0.1
Click==7.0
comtypes==1.1.14
ffmpeg==1.4
idna==3.4
numpy
opencv-python==4.7.0.72
pipenv==2018.11.26
pycodestyle==2.8.0
pydub==0.25.1
PyPDF2==3.0.1
pyttsx3==2.90
pytz==2019.2
requests==2.28.2
SpeechRecognition==3.8.1
sqlparse==0.3.0
toml==0.10.0
typing_extensions==4.5.0
urllib3==1.26.14
virtualenv==16.7.5
virtualenv-clone==0.5.3